.a{
  width: 800px;
  min-height: 400px;
  color: #AAAAAA;
  padding-right: 10px;
  padding-bottom: 10px;
}

.aa{
  margin-bottom: 0px;
}

.bb{
  margin-bottom: 0px;
  margin-top: 0px;
}

.c{
  margin-top: 0px;
  color: black;
  margin-bottom: 0px;
}

.d{
  color: black;
  margin-bottom: 0px;
}

.cool{
  background-color: #fff;
  border: 2px solid #ccc;
  width: 300px;
  height: 10px;
}

.inner{
  height: 100%;
  background-color: #AAAAAA;
}

hr .light{
  color: #fff;
}

p{
  color: black;
  margin-bottom: 0px;
}

h2{
  margin-bottom: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin-left: 20%;
  padding-left: 10px;
  border: 1px solid #000;
  box-shadow: 5px 5px 25px black;
  font-family: 'Kanit', sans-serif;
}

.b{
  background-color: #9D9D9D;
  color: #FFF;
  min-height: 1329.03px;
  padding-left: 10px;
  padding-top: 70px;
}

.f{
  color: #FFF;
}
